@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     //color
     --primary-color: #fffffe;
     --secondary-color: #eff0f3;
     --third-color: #FAFAFA;
     --card-bg: #eff0f3;

     //font color
     --font-h: #0d0d0d;
     --font-p: #2a2a2a;
     --font-logo: #0d0d0d;
     --font-footer: #0d0d0d;

     //nav color
     --nav-scroll: #fffffe;
     --nav-item-active: #000000;
     --nav-item: #4D4D4D;

     //button
     --btn-primary: #ff8e3c;
     --btn-hover: #FF8126;
     --btn-text: #0d0d0d;
     --btn-text-hover: #fff;
}

body {
     font-family: "poppins", sans-serif;
     width: 100%;
     position: relative;
     background-color: var(--primary-color);
     transition: all 0.3s ease-in-out;

     &.dark {
          //color
          --primary-color: #121212;
          --secondary-color: #2a2a2a;
          --third-color: #222222;
          --card-bg: #eff0f3;

          //font color
          --font-h: #ffff;
          --font-p: #ffff;
          --font-logo: #ffff;
          --font-footer: #0d0d0d;

          //nav color
          --nav-scroll: #fffffe;
          --nav-item-active: #000000;
          --nav-item: #c5c5c5;

          //button
          --btn-primary: #ff8e3c;
          --btn-hover: #FF8126;
          --btn-text: #0d0d0d;
          --btn-text-hover: #fff;

     }
}

.page-content {
     margin-top: 100px;
}